<div class="row-fluid">
	<div class="span4">
		<%= video_tag(@video.video_file, autoplay: false, controls: true)%>
		<p>
			<h2>
				 <strong>
				  	<%= @video.title %>
				  </strong>
			</h2>
			
		</p>
	</div>
	<div class="span4">
		
	</div>
	<div class="span4">
		<p class="pull-right">
			<%if admin_signed_in? %>
				<%= link_to 'Edit', edit_video_path(@video) %> |
			<%end%>
			<%= link_to 'Back', videos_path %>
		</p>
	</div>
</div>
   


