<% provide(:title, 'About Us') %>
<div class="container-content ">
<div class="container-fluid container-modified topbot"> 


<h1>About Us</h1>
<div class="row-fluid">
	<div class="span12">
		<%=image_tag("about.png")%>
	</div>
</div>
<div class="row-fluid"> 
<div class="span12 topbot">
	<p>	 	
	The first ecumenical Christian internet radio in Malayalam, Word to World Radio has been founded in obedience to the Great Commission – to carry the Gospel of Jesus unto the uttermost parts of the earth through every means possible.
	</p>
	<p>
	Our mission is to share and spread the message of Jesus through media, reaching people with His love, His healing , His deliverance, His hope bringing together Christians from all denominations, and all nations uniting them under His banner.
	</p>
	<p>
	With listeners spanning four continents and still growing, Word to World Radio, brings quality Christian programming to your homes, promoting Christian family values, while encouraging and nourishing your walk with Jesus. Our various programs cater to the needs of the old and the young alike, reaching and touching their hearts for Jesus while deepening their relationship and commitment to Him.
	</p>
	<p>
	Word to World Radio is the brainchild of Bro. Dr. Mathews Vergis, the President Designate of the Inter Denominational Christian Fellowship an international fasting prayer ministry. A leading Christian author, Bible translator and lyricist with over 250 songs to his name in four languages, it is his vision to use the media in every form, to proclaim the message of his Lord and Master, that has paved the way and led to the fruition of this great Christian Radio Project for the world.
	</p>
	<p>
	Thank you for listening to Word to World Radio and for your prayers. Join hands with us at Word to World Radio in reaching the nations for Jesus!!
	</p>
</div>

</div>
</div>

</div>
